<table class="editor-table">
    <tbody>
        <tr>
            <td><label for="peerGroupName">Name</label></td>
            <td><input pInputText id="peerGroupName" [(ngModel)]="editItem.name" [disabled]="editItem.is_inbuilt" />
            </td>
        </tr>
        <tr>
            <td> <label for="peerGroupDescription">Description</label></td>
            <td><input pInputText id="peerGroupDescription" [(ngModel)]="editItem.description"
                    [disabled]="editItem.is_inbuilt" /></td>
        </tr>
        <tr>
            <td><label for="peerGroupDisabled">Disabled</label></td>
            <td>
                <p-checkbox [binary]="true" [(ngModel)]="editItem.disabled" [disabled]="editItem.is_inbuilt"
                    variant="filled" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span *ngIf="editItem.is_inbuilt">In-built Peer-Groups are read-only.</span>
            </td>
        </tr>
        <tr>
            <td><label for="peers">Peers</label></td>
            <td>
                <p-pickList id="peers" [source]="editItem.lookup_peers" [target]="editItem.peer_group_peer_links"
                    sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true"
                    (trackBy)="peersPickListTrackBy" [showSourceControls]="false" [showTargetControls]="false"
                    [stripedRows]="true" [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }"
                    breakpoint="1400px" [disabled]="editItem.is_inbuilt">
                    <ng-template let-peerGroupLink pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ peerGroupLink.peer.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <small>
                                        {{ peerGroupLink.peer.ip_address }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-pickList>
            </td>
        </tr>
        <tr>
            <td><label for="target">Targets</label></td>
            <td>
                <p-pickList id="target" [source]="editItem.lookup_targets" [target]="editItem.peer_group_target_links"
                    sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true"
                    (trackBy)="targetsPickListTrackBy" [showSourceControls]="false" [showTargetControls]="false"
                    [stripedRows]="true" [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }"
                    breakpoint="1400px" [disabled]="editItem.is_inbuilt">
                    <ng-template let-targetGroupLink pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ targetGroupLink.target.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <small>
                                        {{ targetGroupLink.target.description }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-pickList>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%;align-items: center; text-align: center;">
                    <p-button icon="pi pi-check" label="Ok" (onClick)="ok()"
                        [disabled]="editItem.is_inbuilt"></p-button>
                    &nbsp;
                    <p-button icon="pi pi-times" label="Cancel" severity="danger" (onClick)="cancel()"></p-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>