<table>
    <colgroup>
        <col />
        <col />
    </colgroup>
    <tbody>
        <tr>
            <td><label for="peerGroupName">Name</label></td>
            <td><input pInputText id="peerGroupName" [(ngModel)]="editItem.name" [disabled]="editItem.is_inbuilt" />
            </td>
        </tr>
        <tr>
            <td> <label for="peerGroupDescription">Description</label></td>
            <td><input pInputText id="peerGroupDescription" [(ngModel)]="editItem.description"
                    [disabled]="editItem.is_inbuilt" /></td>
        </tr>
        <tr>
            <td><label for="peerGroupDisabled">Disabled</label></td>
            <td>
                <p-checkbox [binary]="true" [(ngModel)]="editItem.disabled" [disabled]="editItem.is_inbuilt"
                    variant="filled" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%;align-items: center; text-align: center;">
                    <p-button label="Ok" (onClick)="ok()"></p-button>
                    &nbsp;
                    <p-button label="Cancel" (onClick)="cancel()"></p-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<span *ngIf="editItem.is_inbuilt">In-built Peer-Groups are read-only.</span>