<app-authorized-view>
    <ng-template #childControl>
        <p-card [header]="header" [subheader]="subheader">
            <p class="m-0">
                <ng-container *ngIf="useDialogForEditor">
                    <ng-container>
                        <ng-container *ngTemplateOutlet="listControl ;context: listControlContext"></ng-container>
                    </ng-container>
                    <p-dialog [(visible)]="isEditing"
                              [modal]="true"
                              [style]="{ width: '90vw' }">
                        <ng-container *ngTemplateOutlet="editorControl;context: editControlContext"></ng-container>
                    </p-dialog>
                </ng-container>

                <ng-container *ngIf="!useDialogForEditor">
                    <ng-container *ngIf="!isEditing">
                        <ng-container *ngTemplateOutlet="listControl ;context: listControlContext"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="isEditing">
                        <ng-container *ngTemplateOutlet="editorControl;context: editControlContext"></ng-container>
                    </ng-container>
                </ng-container>
            </p>
        </p-card>
    </ng-template>
</app-authorized-view>
