@if (notification) {
  <div class="notification-banner" [class]="'banner-' + notification.type">
    <mat-icon class="banner-icon" aria-hidden="true">{{ icon }}</mat-icon>
    <span class="banner-text">{{ notification.message }}</span>
    @if (notification.action) {
      <button mat-flat-button [color]="actionColor" (click)="onAction()">
        <mat-icon>refresh</mat-icon>
        {{ notification.action.label }}
      </button>
    }
    @if (notification.dismissible) {
      <button mat-icon-button class="banner-dismiss" (click)="dismiss()"
        aria-label="Dismiss" matTooltip="Dismiss" matTooltipShowDelay="500">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
}
