<p-card header="Login">
  <table>
    <tr>
      <td>User name</td>
      <td>
        <input pInputText id="peerGroupName" [(ngModel)]="credentials.username" [autofocus]="true" />
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <p-password [(ngModel)]="credentials.password" [feedback]="false" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="width:100%;align-items: center; text-align: center;">
          <p-button label="Login" (onClick)="login($event)"></p-button>
        </div>
      </td>
    </tr>
    @if (userSessionInfo && userSessionInfo.message) {
      <tr>
        <td colspan="2">
          <div style="width:100%;align-items: center; text-align: center;">
            {{userSessionInfo.message}}
          </div>
        </td>
      </tr>
    }
  </table>
</p-card>