<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #userLogin="ngForm" novalidate (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput id="username" name="username" [(ngModel)]="credentials.username" autofocus #id="ngModel"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput id="password" name="password" type="password" [(ngModel)]="credentials.password" />
      </mat-form-field>
      <div class="login-actions">
        <button type="submit" mat-flat-button color="primary">Login</button>
      </div>
      @if (userSessionInfo && userSessionInfo.message) {
        <div class="login-message">
          <mat-icon>info</mat-icon>
          <span>{{userSessionInfo.message}}</span>
        </div>
      }
    </form>
  </mat-card-content>
</mat-card>
