<table class="editor-table">
    <tbody>
        <tr>
            <td><label for="peerName">Name</label></td>
            <td><input pInputText id="peerName" [(ngModel)]="editItem.name" /></td>
        </tr>
        <tr>
            <td><label for="peerDeviceName">DeviceName</label></td>
            <td><input pInputText id="peerDeviceName" [(ngModel)]="editItem.device_name" /></td>
        </tr>
        <tr>
            <td><label for="peerIPAddress">IPAddress</label></td>
            <td><input pInputText id="peerIPAddress" [(ngModel)]="editItem.ip_address" [readonly]="editItem.ip_address"
                    [disabled]="editItem.ip_address" /></td>
        </tr>
        <tr>
            <td><label for="portnumber">Port</label></td>
            <td>
                <p-inputNumber id="portnumber" inputId="integeronly" [min]="1024" [max]="65535" [allowEmpty]="false"
                    [required]="true" [format]="false" [(ngModel)]="editItem.port" />
            </td>
        </tr>
        <tr>
            <td><label for="peerDisabled">Disabled</label></td>
            <td><p-checkbox id="peerDisabled" [binary]="true" [(ngModel)]="editItem.disabled" /></td>
        </tr>
        <td colspan="2">
            <div style="width:100%;align-items: center; text-align: center;">
                <p-button icon="pi pi-check" label="Ok" (onClick)="ok()"></p-button>
                &nbsp;
                <p-button icon="pi pi-times" label="Cancel" severity="danger" (onClick)="cancel()"></p-button>
            </div>
        </td>
    </tbody>
</table>
