<div>
    <div class="flex flex-column gap-2">
        <label for="peerName">Name</label>
        <input pInputText id="peerName" aria-describedby="peerName-help" [(ngModel)]="editItem.name" />
        <small id="peerName-help">
            Enter Peer Name.
        </small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="peerDeviceName">DeviceName</label>
        <input pInputText id="peerDeviceName" aria-describedby="peerDeviceName-help"
            [(ngModel)]="editItem.device_name" />
        <small id="peerDeviceName-help">
            Enter Peer DeviceName.
        </small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="peerIPAddress">IPAddress</label>
        <input pInputText id="peerIPAddress" aria-describedby="peerIPAddress-help" [(ngModel)]="editItem.ip_address"
            [readonly]="editItem.ip_address" [disabled]="editItem.ip_address" />
        <small id="peerIPAddress-help">
            Enter Peer IPAddress.
        </small>
    </div>
    <div>
        <label for="peerDisabled">Disabled</label>
        <p-checkbox id="peerDisabled" [binary]="true" [(ngModel)]="editItem.disabled" />
    </div>

    <div>
        <p-button label="Ok" (onClick)="ok()"></p-button>
        <p-button label="Cancel" (onClick)="cancel()"></p-button>
    </div>
</div>