<p-toast></p-toast>
<table class="editor-table">
    <tbody>
        <tr>
            <td><label for="ipAddress">IP Address</label></td>
            <td><input pInputText id="ipAddress" [min]="1024" [max]="64000" [(ngModel)]="editItem.ip_address" /></td>
        </tr>
        <tr>
            <td><label for="portnumber">Port</label></td>
            <td>
                <p-inputNumber id="portnumber" inputId="integeronly" [min]="1024" [max]="65535" [allowEmpty]="false"
                    [required]="true" [format]="false" [(ngModel)]="editItem.port" />
            </td>
        </tr>
        <tr>
            <td><label for="scriptPathPostUp">Post-Up Script</label></td>
            <td><input pInputText id="scriptPathPostUp" [(ngModel)]="editItem.script_path_post_up" /></td>
        </tr>
        <tr>
            <td><label for="scriptPathPostDown">Post-Down Script</label></td>
            <td><input pInputText id="scriptPathPostDown" [(ngModel)]="editItem.script_path_post_down" /></td>
        </tr>
        <tr>
            <td><label for="peerDefaultPort">Default Peer Port</label></td>
            <td>
                <p-inputNumber id="peerDefaultPort" inputId="integeronly" [min]="1024" [max]="65535" [allowEmpty]="false"
                    [required]="true" [format]="false" [(ngModel)]="editItem.peer_default_port" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%;align-items: center; text-align: center;">
                    <!-- <p-button icon="pi pi-check" label="Generate Wireguard Config" (onClick)="generateWireguardConfig()"></p-button>
                &nbsp; -->
                    <p-button icon="pi pi-check" label="Ok" (onClick)="ok()"></p-button>
                    &nbsp;
                    <p-button icon="pi pi-times" label="Cancel" severity="danger" (onClick)="cancel()"></p-button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Server Configuration</td>
            <td>
                <p-tabView>
                    <p-tabPanel header="Server Configuration">
                        <textarea rows="15" cols="120">{{wireguardConfiguration.serverConfiguration}}</textarea>
                    </p-tabPanel>
                    <p-tabPanel header="Peer" *ngFor="let peerConfiguration of wireguardConfiguration.peerConfigurations">
                        <textarea rows="15" cols="120">{{peerConfiguration}}</textarea>
                    </p-tabPanel>
                </p-tabView>
            </td>
        </tr>
    </tbody>
</table>