@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/primeng.css";

.item-header {
    grid-area: header;
}

.item-main {
    grid-area: main;
}

.item-sidebar {
    grid-area: sidebar;
}

.item-footer {
    grid-area: footer;
    align-items: center;
    align-content: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}