<div class="list-toolbar">
  <span class="list-hint">Add/Edit/Delete Targets here...</span>
  <button mat-flat-button color="primary" type="button" (click)="newItem();">
    <mat-icon>add</mat-icon>
    New
  </button>
</div>
<div class="table-scroll">
<table class="data-table" matSort matSortDisableClear matSortActive="name" matSortDirection="asc" (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th>IP Address</th>
      <th>Disabled</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (targetGroup of targets(); track targetGroup.id) {
      <tr>
        <td>{{ targetGroup.name }}</td>
        <td>{{ targetGroup.ip_address }}</td>
        <td>
          @if (targetGroup.disabled) {
            <span class="status-chip status-chip-off">Disabled</span>
          } @else {
            <span class="status-chip status-chip-ok">Enabled</span>
          }
        </td>
        <td>
          <button mat-stroked-button type="button" (click)="editItem(targetGroup);">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="4" class="empty-row">No targets found.</td>
      </tr>
    }
  </tbody>
</table>
</div>
