<app-crud-container header="Targets" subheader="Targets are resources your VPN clients can access.">
    <ng-template #list let-onEdit="onEdit" let-onNewItem="onNewItem">
        <app-manage-targets-list (onEdit)="onEdit($event)" (onNewItem)="onNewItem($event)"></app-manage-targets-list>
    </ng-template>
    <ng-template #editor let-onFinish="onFinish" let-getEditItem="getEditItem">
        <app-manage-targets-editor (onFinish)="onFinish($event)" [editItem]="getEditItem()"></app-manage-targets-editor>
    </ng-template>
</app-crud-container>