<p-card header="WireGuard UI Plus!">
    <p-tabView>
        <p-tabPanel header="License">
            <pre style="white-space:pre-wrap;">
                {{license.license}}
                </pre>
        </p-tabPanel>
        <p-tabPanel header="Acknowledments">
            <ul>
                <li>"WireGuard" and the "WireGuard" logo are registered trademarks of Jason A. Donenfeld.
                    <a href=" https://www.wireguard.com/" target="_blank">Link</a>
                </li>
            </ul>
        </p-tabPanel>
    </p-tabView>

</p-card>