<p-card header="WireGuard UI Plus!">
    <p-tabs>
        <p-tabpanels>
        <p-tabpanel header="License">
            <pre style="white-space:pre-wrap;">
                {{license.license}}
                </pre>
        </p-tabpanel>
        <p-tabpanel header="Acknowledments">
            <ul>
                <li>"WireGuard" and the "WireGuard" logo are registered trademarks of Jason A. Donenfeld.
                    <a href=" https://www.wireguard.com/" target="_blank">Link</a>
                </li>
            </ul>
        </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

</p-card>