<h2>WireGuard UI Plus!</h2>
<p>
    This app allows you to have better control over WireGuard &trade; and IP Tables.
</p>
<div style="max-height: 480px; overflow-y: scroll; overflow-x: auto;">
    <pre style="white-space:pre-wrap;">
        {{license.license}}
        </pre>
</div>
<p-divider />
<h4>
    Acknowledments
</h4>
<ul>
    <li>"WireGuard" and the "WireGuard" logo are registered trademarks of Jason A. Donenfeld.
        <a href=" https://www.wireguard.com/" target="_blank">Link</a>
    </li>
</ul>