<p-toast></p-toast>

<p-card>
    <table class="editor-table">
        <tbody>
            <tr>
                <td><label for="ipAddress">Network Address</label></td>
                <td><input pInputText id="networkAddress" [(ngModel)]="editItem.network_address"
                        pTooltip="Network address of the VPN." tooltipPosition="top" pAutoFocus [autofocus]="true" />
                    <app-validation-errors-display field="network_address" [validationResult]="validationResult">
                    </app-validation-errors-display>
                </td>
            </tr>
            <tr>
                <td><label for="hostNameExternal">Host Name External</label></td>
                <td><input pInputText id="hostNameExternal" [(ngModel)]="editItem.host_name_external"
                        pTooltip="Peers connect to this VPN from internet using this name." tooltipPosition="top" />
                    <app-validation-errors-display field="host_name_external" [validationResult]="validationResult">
                    </app-validation-errors-display>
                </td>
            </tr>
            <tr>
                <td><label for="portExternal">Port External</label></td>
                <td>
                    <p-inputNumber id="portExternal" inputId="integeronly" [min]="1024" [max]="65535"
                        [allowEmpty]="false" [required]="true" [format]="false" [(ngModel)]="editItem.port_external"
                        pTooltip="Port exposed on your router. This is forwarded to the host where WG is running."
                        tooltipPosition="top" />
                    <app-validation-errors-display field="port_external" [validationResult]="validationResult">
                    </app-validation-errors-display>
                </td>
            </tr>
            <tr>
                <td><label for="portInternal">Port Internal</label></td>
                <td>
                    <p-inputNumber id="portInternal" inputId="integeronly" [min]="1024" [max]="65535"
                        [allowEmpty]="false" [required]="true" [format]="false" [(ngModel)]="editItem.port_internal"
                        pTooltip="Port on the host where the VPN is running." tooltipPosition="top" />
                    <app-validation-errors-display field="port_internal" [validationResult]="validationResult">
                    </app-validation-errors-display>
                </td>
            </tr>
            <tr>
                <td><label for="localNetworks">Local Networks</label></td>
                <td><input pInputText id="localNetworks" [(ngModel)]="editItem.local_networks"
                        pTooltip="Comma separated list of local networks that you want to keep safe from clients."
                        tooltipPosition="top" />
                    <app-validation-errors-display field="local_networks" [validationResult]="validationResult">
                    </app-validation-errors-display>
                </td>
            </tr>
            <tr>
                <td><label for="upstreamDnsServer">Upstream DNS Server</label></td>
                <td><input pInputText id="upstreamDnsServer" [(ngModel)]="editItem.upstream_dns_ip_address"
                        pTooltip="Upstream DNS server for the peers." tooltipPosition="top" />
                    <app-validation-errors-display field="upstream_dns_ip_address"
                        [validationResult]="validationResult">
                    </app-validation-errors-display>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="width:100%;align-items: center; text-align: center;">
                        <p-button icon="pi pi-check" label="Restart Wireguard"
                            (onClick)="restartWireguard()"></p-button>
                        &nbsp;
                        <p-button icon="pi pi-check" label="Generate Wireguard Configuration Files"
                            (onClick)="generateWireguardConfig()"></p-button>
                        &nbsp;
                        <p-button icon="pi pi-check" label="Ok" (onClick)="ok()"></p-button>
                        &nbsp;
                        <p-button icon="pi pi-times" label="Cancel" severity="danger" (onClick)="cancel()"></p-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</p-card>