<div class="editor-form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput id="peerGroupName" [(ngModel)]="editItem.name"
      [disabled]="!editItem.allow_modify_self" matTooltip="Name of the Peer-Group."
      matTooltipPosition="above" autofocus />
  </mat-form-field>
  <app-validation-errors-display field="name" [validationResult]="validationResult">
  </app-validation-errors-display>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput id="peerGroupDescription" [(ngModel)]="editItem.description"
      [disabled]="!editItem.allow_modify_self" matTooltip="Some helpful description."
      matTooltipPosition="above" />
  </mat-form-field>
  <app-validation-errors-display field="description"
    [validationResult]="validationResult"></app-validation-errors-display>
  <div class="editor-row">
    <mat-checkbox id="peerGroupDisabled" [(ngModel)]="editItem.disabled"
      [disabled]="!editItem.allow_modify_self"
      matTooltip="Disabled Peer-Groups are denied access to VPN." matTooltipPosition="above">
      Disabled
    </mat-checkbox>
  </div>
  @if (!editItem.allow_modify_self) {
    <span>Only changing access to targets is allowed.</span>
  }
  @if (editItem.allow_modify_peers) {
    <div class="editor-picklist">
      <label class="editor-label" for="peers">Peers</label>
      <app-dual-list id="peers"
        [source]="editItem.peers_lookup" [selected]="editItem.peers"
        sourceHeader="Available" targetHeader="Selected"
        [disabled]="!editItem.allow_modify_self"
        matTooltip="Selected Peers in this group will have access to selected Targets."
        matTooltipPosition="above">
        <ng-template #itemTemplate let-item>
          <div class="dual-list-item-content">
            <div class="dual-list-item-name">{{ item.name }}</div>
            <small>
              {{ item.description }} ({{ item.ip_address }})
            </small>
          </div>
        </ng-template>
      </app-dual-list>
      <app-validation-errors-display field="peers"
        [validationResult]="validationResult"></app-validation-errors-display>
    </div>
  }
  <div class="editor-picklist">
    <label class="editor-label" for="target">Targets</label>
    @if (editItem.allow_modify_targets) {
      <app-dual-list id="target" [source]="editItem.targets_lookup" [selected]="editItem.targets"
        sourceHeader="Available" targetHeader="Selected"
        matTooltip="Peers in this Peer-Group will have access to the selected Targets."
        matTooltipPosition="above">
        <ng-template #itemTemplate let-item>
          <div class="dual-list-item-content">
            <div class="dual-list-item-name">{{ item.name }}</div>
            <small>
              {{ item.description }} ({{ item.ip_address }})
            </small>
          </div>
        </ng-template>
      </app-dual-list>
    }
    <app-validation-errors-display field="targets"
      [validationResult]="validationResult"></app-validation-errors-display>
  </div>
  <div class="editor-actions">
    <button mat-flat-button color="primary" type="button" (click)="ok()">
      <mat-icon>check</mat-icon>
      Ok
    </button>
    <button mat-stroked-button type="button" (click)="cancel()">
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    @if (editItem.id && editItem.allow_modify_self) {
      <button mat-flat-button color="warn" type="button" (click)="delete($event)">
        <mat-icon>block</mat-icon>
        Delete
      </button>
    }
  </div>
  <div class="editor-validation">
    <app-validation-errors-display
      [validationResult]="validationResult"></app-validation-errors-display>
  </div>
</div>
