<table style="width: 100%;">
  <colgroup>
  <col style="width:100%;" />
  <col style="width:180px;min-width:180px;max-width:180px;" />
</colgroup>
<tbody>
  <tr>
    <td>
      <div class="editor-form">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="peerName" [(ngModel)]="editItem.name"
            matTooltip="Name of the device/computer you wish to connect with VPN."
            matTooltipPosition="above" autofocus />
        </mat-form-field>
        <app-validation-errors-display field="name" [validationResult]="validationResult">
        </app-validation-errors-display>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput id="peerDescription" [(ngModel)]="editItem.description"
            matTooltip="Some description of the device/computer you wish to connect with VPN."
            matTooltipPosition="above" />
        </mat-form-field>
        <app-validation-errors-display field="description"
          [validationResult]="validationResult">
        </app-validation-errors-display>
        @if (editItem.ip_address) {
          <mat-form-field>
            <mat-label>IP Address</mat-label>
            <input matInput id="peerIPAddress" [(ngModel)]="editItem.ip_address"
              matTooltip="IP Address assigned to this Peer by the server. Shown here for informational purposes only."
              matTooltipPosition="above" [readonly]="true" [disabled]="true" />
          </mat-form-field>
        }
        <mat-form-field>
          <mat-label>e-Mail Address</mat-label>
          <input matInput id="peerEmailAddress" [(ngModel)]="editItem.email_address"
            matTooltip="e-Mail Address for sending VPN/Tunnel configuration."
            matTooltipPosition="above" />
        </mat-form-field>
        <div class="editor-row">
          <mat-checkbox id="peerDisabled" [(ngModel)]="editItem.disabled">Disabled</mat-checkbox>
        </div>
        <div class="editor-picklist">
          <label class="editor-label" for="peerGroups">Peer-Groups</label>
          <app-dual-list id="peerGroups" [source]="editItem.peer_groups_lookup"
            [selected]="editItem.peer_groups" sourceHeader="Available" targetHeader="Selected"
            matTooltip="This Peer will have access to all the Targets of selected Peer-Groups."
            matTooltipPosition="above">
            <ng-template #itemTemplate let-item>
              <div class="dual-list-item-content">
                <div class="dual-list-item-name">{{ item.name }}</div>
                <small>
                  {{ item.description }}
                </small>
              </div>
            </ng-template>
          </app-dual-list>
          <app-validation-errors-display field="peer_groups"
            [validationResult]="validationResult">
          </app-validation-errors-display>
        </div>
        <div class="editor-actions">
          <button mat-flat-button color="primary" type="button" (click)="ok()">
            <mat-icon>check</mat-icon>
            Ok
          </button>
          <button mat-stroked-button type="button" (click)="cancel()">
            <mat-icon>close</mat-icon>
            Cancel
          </button>
          @if (editItem.id) {
            <button mat-flat-button color="warn" type="button" (click)="delete($event)">
              <mat-icon>block</mat-icon>
              Delete
            </button>
          }
        </div>
        <div class="editor-validation">
          <app-validation-errors-display
            [validationResult]="validationResult"></app-validation-errors-display>
        </div>
      </div>
    </td>
    <td>
      <div class="side-column">
        @if (editItem.configuration) {
          <img width="180px" [src]="getQrCode()" />
        }
        @if (editItem.configuration) {
          <button mat-flat-button type="button" (click)="downloadConfigFile($event)">
            <mat-icon>download</mat-icon>
            Download .conf file
          </button>
        }
        @if (editItem.id && editItem.email_address) {
          <button mat-stroked-button type="button" (click)="sendConfigurationByEmail($event)">
            <mat-icon>mail</mat-icon>
            Send Config By Email
          </button>
        }
      </div>
    </td>
  </tr>
</tbody>
</table>
