<table class="editor-table">
    <tbody>
        <tr>
            <td>
                <label for="targetName">Name</label>
            </td>
            <td><input pInputText id="targetName" [(ngModel)]="editItem.name" [disabled]="!editItem.allow_modify_self"
                    pTooltip="Network or a host allowed to be accessed via VPN." tooltipPosition="top" pAutoFocus
                    [autofocus]="true" />
                <app-validation-errors-display field="name" [validationResult]="validationResult">
                </app-validation-errors-display>
            </td>
        </tr>
        <tr>
            <td>
                <label for="targetDescription">Description</label>
            </td>
            <td>
                <input pInputText id="targetDescription" [(ngModel)]="editItem.description"
                    [disabled]="!editItem.allow_modify_self" pTooltip="Suitable description." tooltipPosition="top" />
                <app-validation-errors-display field="description" [validationResult]="validationResult">
                </app-validation-errors-display>
            </td>
        </tr>
        <tr>
            <td>
                <label for="targetIPAddress">IP Address/Network</label>
            <td>
                <input pInputText id="targetIPAddress" [(ngModel)]="editItem.ip_address"
                    [disabled]="!editItem.allow_modify_self"
                    pTooltip="Resource you wish to allow access to via the VPN. It can be IP Address / Network address with mask / IP Address with 1 or more ports (seperated by commas)."
                    tooltipPosition="top" />
                <span>Valid values XXX.XXX.XXX.XXX / XXX.XXX.XXX.XXX/MASK / XXX.XXX.XXX.XXX:PORT1,PORT2...</span>
                <app-validation-errors-display field="ip_address" [validationResult]="validationResult">
                </app-validation-errors-display>
            </td>
        </tr>
        <tr>
            <td>
                <label for="targetDisabled">Disabled</label>
            </td>
            <td>
                <p-checkbox id="targetDisabled" [binary]="true" [(ngModel)]="editItem.disabled"
                    [disabled]="!editItem.allow_modify_self" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span *ngIf="!editItem.allow_modify_self">In-built Targets are read-only.</span>
            </td>
        </tr>
        <tr>
            <td><label for="target">Peer-Groups</label></td>
            <td>
                <p-pickList id="target" [source]="editItem.peer_groups_lookup" [target]="editItem.peer_groups"
                    sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true"
                    (trackBy)="targetsPickListTrackBy" [showSourceControls]="false" [showTargetControls]="false"
                    [stripedRows]="true" [sourceStyle]="{ height: '20rem' }" [targetStyle]="{ height: '20rem' }"
                    breakpoint="1400px" [disabled]="!editItem.allow_modify_peer_groups"
                    pTooltip="Selected Peer-Groups will have access to this Target." tooltipPosition="top">
                    <ng-template let-targetGroupLink pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ targetGroupLink.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <small>
                                        {{ targetGroupLink.description }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-pickList>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%;align-items: center; text-align: center;">
                    <span>
                        <p-button icon="pi pi-check" label="Ok" (onClick)="ok()"></p-button>
                        &nbsp;
                    </span>
                    <span>
                        <p-button icon="pi pi-times" label="Cancel" severity="danger" (onClick)="cancel()"></p-button>
                        &nbsp;
                    </span>
                    <span *ngIf="editItem.id && editItem.allow_modify_self">
                        <p-button icon="pi pi-times" label="Delete" severity="danger"
                            (onClick)="delete($event)"></p-button>
                        &nbsp;
                    </span>
                    <app-validation-errors-display
                        [validationResult]="validationResult"></app-validation-errors-display>
                </div>
            </td>
        </tr>
    </tbody>
</table>