<div class="editor-form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput id="targetName" [(ngModel)]="editItem.name" [disabled]="!editItem.allow_modify_self"
      matTooltip="Network or a host allowed to be accessed via VPN." matTooltipPosition="above" matTooltipShowDelay="500"
      autofocus />
  </mat-form-field>
  <app-validation-errors-display field="name" [validationResult]="validationResult">
  </app-validation-errors-display>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput id="targetDescription" [(ngModel)]="editItem.description"
      [disabled]="!editItem.allow_modify_self" matTooltip="Suitable description." matTooltipPosition="above" matTooltipShowDelay="500" />
  </mat-form-field>
  <app-validation-errors-display field="description" [validationResult]="validationResult">
  </app-validation-errors-display>
  <mat-form-field>
    <mat-label>IP Address/Network</mat-label>
    <input matInput id="targetIPAddress" [(ngModel)]="editItem.ip_address"
      [disabled]="!editItem.allow_modify_self"
      matTooltip="Resource you wish to allow access to via the VPN. It can be IP Address / Network address with mask / IP Address with 1 or more ports (seperated by commas)." matTooltipShowDelay="500"
      matTooltipPosition="above" />
    <mat-hint>Valid values XXX.XXX.XXX.XXX / XXX.XXX.XXX.XXX/MASK / XXX.XXX.XXX.XXX:PORT1,PORT2...</mat-hint>
  </mat-form-field>
  <app-validation-errors-display field="ip_address" [validationResult]="validationResult">
  </app-validation-errors-display>
  <div class="editor-row">
    <mat-checkbox id="targetDisabled" [(ngModel)]="editItem.disabled"
      [disabled]="!editItem.allow_modify_self">Disabled</mat-checkbox>
  </div>
  @if (!editItem.allow_modify_self) {
    <span>In-built Targets are read-only.</span>
  }
  <div class="editor-picklist">
    <label class="editor-label" for="target">Peer-Groups</label>
    <app-dual-list id="target" [source]="editItem.peer_groups_lookup" [selected]="editItem.peer_groups"
      sourceHeader="Available" targetHeader="Selected"
      [disabled]="!editItem.allow_modify_peer_groups"
      matTooltip="Selected Peer-Groups will have access to this Target." matTooltipPosition="above" matTooltipShowDelay="500">
      <ng-template #itemTemplate let-item>
        <div class="dual-list-item-content">
          <div class="dual-list-item-name">{{ item.name }}</div>
          <small>
            {{ item.description }}
          </small>
        </div>
      </ng-template>
    </app-dual-list>
  </div>
  <div class="editor-actions">
    <button mat-flat-button color="primary" type="button" (click)="ok()">
      <mat-icon>check</mat-icon>
      Ok
    </button>
    <button mat-stroked-button type="button" (click)="cancel()">
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    @if (editItem.id && editItem.allow_modify_self) {
      <button mat-flat-button color="warn" type="button" (click)="delete($event)">
        <mat-icon>block</mat-icon>
        Delete
      </button>
    }
  </div>
  <div class="editor-validation">
    <app-validation-errors-display
      [validationResult]="validationResult"></app-validation-errors-display>
  </div>
</div>
