<div class="org-chart">
    <div class="org-grid" *ngIf="cells.length > 0"
         [style.grid-template-columns]="gridColumnsStyle"
         [style.grid-template-rows]="gridRowsStyle">

        <div *ngFor="let cell of cells"
             class="org-node"
             [class.org-node-disabled]="cell.node.data?.disabled === true"
             [class.org-node-root]="isRoot(cell.node)"
             [style.grid-column]="cellGridColumn(cell)"
             [style.grid-row]="cellGridRow(cell)">
            <div class="org-node-label">
                <mat-icon *ngIf="nodeIcon(cell.node)" class="org-node-type-icon" aria-hidden="true">{{ nodeIcon(cell.node) }}</mat-icon>
                <span>{{ cell.node.label }}</span>
                <mat-icon *ngIf="cell.node.data?.disabled === true"
                          class="org-node-block-icon"
                          [matTooltip]="disabledTooltip(cell.node)"
                          matTooltipPosition="above">block</mat-icon>
            </div>
            <div class="org-node-ip" *ngIf="cell.node.data?.ip_address as ipAddress">{{ ipAddress }}</div>
        </div>

        <div *ngFor="let connector of connectors"
             class="org-connector"
             [style.grid-column]="connectorGridColumn(connector)"
             [style.grid-row]="connectorGridRow(connector)"></div>
    </div>
</div>
