<p-table [value]="peerGroups" sortField="name" styleClass="p-datatable-striped" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Disabled</th>
            <th>Can Access</th>
            <th>Action
                <p-button [rounded]="true" icon="pi pi-plus-circle" (onClick)="newItem();"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-peerGroup>
        <tr>
            <td>{{ peerGroup.name }}</td>
            <td>{{ peerGroup.description }}</td>
            <td><p-checkbox [binary]="true" readonly="true" [(ngModel)]="peerGroup.disabled" /></td>
            <td>{{ peerGroup.target_names }}</td>
            <td>
                <p-button [rounded]="true" icon="pi pi-file-edit" (onClick)="editItem(peerGroup);"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>