<p-table [value]="peerGroups" sortField="name" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
  dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="4">
        <span>
          Add/Edit/Delete Peer-Groups here...
        </span>
      </th>
      <th><p-button icon="pi pi-plus-circle" label="New" (onClick)="newItem();"></p-button></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Disabled</th>
      <th>Can Access</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-peerGroup>
    <tr>
      <td>
        {{ peerGroup.name }}
      </td>
      <td>{{ peerGroup.description }}</td>
      <td>@if (peerGroup.disabled) {
        <i class="pi pi-ban" style="color: red"></i>
      }</td>
      <td>{{ peerGroup.target_names }}</td>
      <td><p-button size="small" label="Edit" icon="pi pi-file-edit" (onClick)="editItem(peerGroup);"></p-button>
    </td>
  </tr>
</ng-template>
</p-table>