<div class="nav-drawer" [class.collapsed]="collapsed">
    <mat-nav-list class="nav-main">
      @for (section of sections; track $index) {
        @if (section.label && !collapsed) {
          <div mat-subheader class="nav-section-label">{{ section.label }}</div>
        }
        @for (item of section.items; track item.label) {
          @if (item.route) {
            <a mat-list-item [routerLink]="item.route" [replaceUrl]="item.replaceUrl ?? false"
              routerLinkActive="active-nav-item" [matTooltip]="collapsed ? item.label : ''" matTooltipPosition="right"
              matTooltipShowDelay="500" [attr.aria-label]="item.label">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              @if (!collapsed) {
                <span matListItemTitle>{{ item.label }}</span>
              }
            </a>
          } @else {
            <button mat-list-item (click)="onItemCommand(item)"
              [matTooltip]="collapsed ? item.label : ''" matTooltipPosition="right"
              matTooltipShowDelay="500" [attr.aria-label]="item.label">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              @if (!collapsed) {
                <span matListItemTitle>{{ item.label }}</span>
              }
            </button>
          }
        }
      }
    </mat-nav-list>

    <div class="nav-bottom">
      <mat-divider></mat-divider>
      <mat-nav-list>
        @for (item of bottomItems; track item.label) {
          @if (item.route) {
            <a mat-list-item [routerLink]="item.route" [replaceUrl]="item.replaceUrl ?? false"
              routerLinkActive="active-nav-item" [matTooltip]="collapsed ? item.label : ''" matTooltipPosition="right"
              matTooltipShowDelay="500" [attr.aria-label]="item.label">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              @if (!collapsed) {
                <span matListItemTitle>{{ item.label }}</span>
              }
            </a>
          } @else {
            <button mat-list-item (click)="onItemCommand(item)"
              [matTooltip]="collapsed ? item.label : ''" matTooltipPosition="right"
              matTooltipShowDelay="500" [attr.aria-label]="item.label">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              @if (!collapsed) {
                <span matListItemTitle>{{ item.label }}</span>
              }
            </button>
          }
        }
      </mat-nav-list>
    </div>
</div>
