<div>
    <div class="flex flex-column gap-2">
        <label for="targetGroupName">Name</label>
        <input pInputText id="targetGroupName" aria-describedby="targetGroupName-help" [(ngModel)]="editItem.name" />
        <small id="targetGroupName-help">
            Enter targetGroup Name.
        </small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="targetGroupDescription">Description</label>
        <input pInputText id="targetGroupDescription" aria-describedby="targetGroupDescription-help"
            [(ngModel)]="editItem.description" />
        <small id="targetGroupDescription-help">
            Enter Target-Group Description.
        </small>
    </div>
    <div>
        <label for="targetGroupDisabled">Disabled</label>
        <p-checkbox id="targetGroupDisabled" [binary]="true" [(ngModel)]="editItem.disabled" />
    </div>

    <div>
        <p-button label="Ok" (onClick)="ok()"></p-button>
        <p-button label="Cancel" (onClick)="cancel()"></p-button>
    </div>
</div>