<app-page-header title="VPN Layout"
  subtitle="How Targets, Peer-Groups and Peers are linked. (Refreshed every {{refreshDelay}} seconds)">
</app-page-header>

<mat-card>
  <mat-card-content>
    <app-org-chart [value]="hierarchyData"></app-org-chart>
    <div class="layout-notes">
      <ul>
        <li>A Peer is a device which connects with VPN</li>
        <li>A Target can be a host (a specific IP Address with or without port/ports) or a network (IP Address with
        a mask)</li>
        <li>
          A Peer-Group is a group of Peers that can be given access to a Target.
          <ul>
            <li>Using Peer-Groups makes it easy to grant/deny access to the peers.</li>
            <li>Once a Peer-Group is linked with a target (either in Peer-Group edit page or Target edit
            page), just add/remove Peers in the given Peer-Group.</li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
