<p-table [value]="peers" sortField="name" styleClass="p-datatable-striped" >
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IP Address</th>
            <th>Disabled</th>
            <th>Can Access</th>
            <th>Action
                <p-button [rounded]="true" icon="pi pi-plus-circle" (onClick)="newItem();"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-peer>
        <tr>
            <td>{{ peer.name }}</td>
            <td>{{ peer.description }}</td>
            <td>{{ peer.ip_address }}</td>
            <td><p-checkbox [binary]="true" readonly="true" [(ngModel)]="peer.disabled" /></td>
            <td>{{ peer.target_names }}
            </td>
            <td><p-button [rounded]="true" icon="pi pi-file-edit" (onClick)="editItem(peer);"></p-button></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="caption">
        <div>
            
        </div>
    </ng-template>
</p-table>