<table class="editor-table">
    <tbody>
        <tr>
            <td>
                <label for="targetName">Name</label>
            </td>
            <td><input pInputText id="targetName" [(ngModel)]="editItem.name" [disabled]="editItem.is_inbuilt"/></td>
        </tr>
        <tr>
            <td>
                <label for="targetDescription">Description</label>
            </td>
            <td>
                <input pInputText id="targetDescription" [(ngModel)]="editItem.description" [disabled]="editItem.is_inbuilt"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="targetIPAddress">IPAddress</label>
            <td>
                <input pInputText id="targetIPAddress" [(ngModel)]="editItem.ip_address" [disabled]="editItem.is_inbuilt"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="targetDisabled">Disabled</label>
            </td>
            <td>
                <p-checkbox id="targetDisabled" [binary]="true" [(ngModel)]="editItem.disabled" [disabled]="editItem.is_inbuilt"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span *ngIf="editItem.is_inbuilt">In-built Targets are read-only.</span>
            </td>
        </tr>
        <tr>
            <td><label for="target">Targets</label></td>
            <td>
                <p-pickList id="target" [source]="editItem.lookup_peergroups" [target]="editItem.peer_group_target_links"
                    sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true"
                    (trackBy)="targetsPickListTrackBy" [showSourceControls]="false" [showTargetControls]="false"
                    [stripedRows]="true">
                    <ng-template let-targetGroupLink pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ targetGroupLink.peer_group.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <small>
                                        {{ targetGroupLink.peer_group.description }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-pickList>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%;align-items: center; text-align: center;">
                    <p-button icon="pi pi-check" label="Ok" (onClick)="ok()" [disabled]="editItem.is_inbuilt"></p-button>
                    &nbsp;
                    <p-button icon="pi pi-times" label="Cancel" severity="danger" (onClick)="cancel()"></p-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
