<div>
    <div class="flex flex-column gap-2">
        <label for="targetName">Name</label>
        <input pInputText id="targetName" aria-describedby="targetName-help" [(ngModel)]="editItem.name" />
        <small id="targetName-help">
            Enter target Name.
        </small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="targetDescription">Description</label>
        <input pInputText id="targetDescription" aria-describedby="targetDescription-help"
            [(ngModel)]="editItem.description" />
        <small id="targetDescription-help">
            Enter Target- Description.
        </small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="targetIPNetwork">IPNetwork</label>
        <input pInputText id="targetIPNetwork" aria-describedby="targetIPNetwork-help"
            [(ngModel)]="editItem.ip_network" />
        <small id="targetIPNetwork-help">
            Enter Target- IPNetwork.
        </small>
    </div>
    <div>
        <label for="targetDisabled">Disabled</label>
        <p-checkbox id="targetDisabled" [binary]="true" [(ngModel)]="editItem.disabled" />
    </div>

    <div>
        <p-button label="Ok" (onClick)="ok()"></p-button>
        <p-button label="Cancel" (onClick)="cancel()"></p-button>
    </div>
</div>