// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$my-angular-project-theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            density: (scale: 0,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
    @include mat.all-component-themes($my-angular-project-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
@include mat.typography-hierarchy($my-angular-project-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($theme);
/* You can add global styles to this file, and also import other style files */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.item {
    border-style: none;
    border-color: yellow;
}

.item-header {
    grid-area: header;
}

.item-main {
    grid-area: main;
    overflow-y: auto;
}

.item-sidebar {
    grid-area: sidebar;
}

.item-footer {
    grid-area: footer;
    align-items: center;
    align-content: center;
    text-align: center;
}

.container {
    width: 100%;
    display: grid;
    height: 100vh;
    padding: 8px 4px;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

table {
    td {
        vertical-align: top;
    }
}

.editor-table {
    min-width: 50%;
    // max-width: 70%;

    td:nth-child(1) {
        width: auto;
        text-wrap: nowrap;
        vertical-align: top;
    }

    td:nth-child(2) {
        width: 100%;
        vertical-align: top;

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }

    td.errorColumn {
        vertical-align: top;
        text-wrap: nowrap;
    }

}