/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.item {
    border-style: none;
    border-color: yellow;
}

.item-header {
    grid-area: header;
}

.item-main {
    grid-area: main;
    overflow-y: auto;
}

.item-sidebar {
    grid-area: sidebar;
}

.item-footer {
    grid-area: footer;
    align-items: center;
    align-content: center;
    text-align: center;
}

.container {
    width: 100%;
    display: grid;
    height: 100vh;
    padding: 8px 4px;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

table {
    td {
        vertical-align: top;
    }
}

.editor-table {
    min-width: 50%;
    // max-width: 70%;

    td:nth-child(1) {
        width: auto;
        text-wrap: nowrap;
        vertical-align: top;
    }

    td:nth-child(2) {
        width: 100%;
        vertical-align: top;

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }

    td.errorColumn {
        vertical-align: top;
        text-wrap: nowrap;
    }

}